.wy-side-nav-search p {
  margin-bottom: 0.6em;
}
.wy-side-nav-search p.pr a {
  color: rgba(255, 255, 255, 0.8);
}
.wy-side-nav-search p.pr a:hover {
  color: #fff;
}
.side-by-side {
  display: inline-block;
}
html*.side-by-side {
  display: inline;
  zoom: 1;
}
.side-by-side > a img {
  margin-right: 15px;
}
.wy-breadcrumbs a.externalLink:visited {
  color: #2980b9;
}

.wy-nav-content {
  max-width: none;
}

.pad5 {
  padding:5px;
}

div.section ins {
  background-color: transparent;
}

/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/lato-regular.eot");
  src: url("./fonts/Lato/lato-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Lato/lato-regular.woff2") format("woff2"), url("./fonts/Lato/lato-regular.woff") format("woff"), url("./fonts/Lato/lato-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
	font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/lato-bold.eot");
  src: url("./fonts/Lato/lato-bold.eot?#iefix") format("embedded-opentype"), url("./fonts/Lato/lato-bold.woff2") format("woff2"), url("./fonts/Lato/lato-bold.woff") format("woff"), url("./fonts/Lato/lato-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
	font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/lato-bolditalic.eot");
  src: url("./fonts/Lato/lato-bolditalic.eot?#iefix") format("embedded-opentype"), url("./fonts/Lato/lato-bolditalic.woff2") format("woff2"), url("./fonts/Lato/lato-bolditalic.woff") format("woff"), url("./fonts/Lato/lato-bolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
	font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/lato-italic.eot");
  src: url("./fonts/Lato/lato-italic.eot?#iefix") format("embedded-opentype"), url("./fonts/Lato/lato-italic.woff2") format("woff2"), url("./fonts/Lato/lato-italic.woff") format("woff"), url("./fonts/Lato/lato-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
	font-display: swap;
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/RobotoSlab/roboto-slab.eot");
  src: url("./fonts/RobotoSlab/roboto-slab-v7-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/RobotoSlab/roboto-slab-v7-regular.woff2") format("woff2"), url("./fonts/RobotoSlab/roboto-slab-v7-regular.woff") format("woff"), url("./fonts/RobotoSlab/roboto-slab-v7-regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/RobotoSlab/roboto-slab-v7-bold.eot");
  src: url("./fonts/RobotoSlab/roboto-slab-v7-bold.eot?#iefix") format("embedded-opentype"), url("./fonts/RobotoSlab/roboto-slab-v7-bold.woff2") format("woff2"), url("./fonts/RobotoSlab/roboto-slab-v7-bold.woff") format("woff"), url("./fonts/RobotoSlab/roboto-slab-v7-bold.ttf") format("truetype");
	font-display: swap;
}

