.wy-side-nav-search p {
  margin-bottom: 0.6em;
}
.wy-side-nav-search p.pr a {
  color: rgba(255, 255, 255, 0.8);
}
.wy-side-nav-search p.pr a:hover {
  color: #fff;
}
.side-by-side {
  display: inline-block;
}
html*.side-by-side {
  display: inline;
  zoom: 1;
}
.side-by-side > a img {
  margin-right: 15px;
}
.wy-breadcrumbs a.externalLink:visited {
  color: #2980b9;
}
